html {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0px;
    height: 100%;
}

img {
    border: none;
}

#title-bar {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    background-color: black;
}

#title-separator {
    height: 10px;
}

#search-bar {
    width: 100%;
}

#search-input-div {
    margin-right: 48px;
}

#search-input {
    width: 100%;
    height: 21px;
    padding: 6px;
    border: 0px;
    font-size: 18px;
}

#search-button-div {
    float: right;
}

#search-button {
    cursor: pointer;    
}

#page-tab-bar {
    padding-top: 20px;
    height: 40px;
}

.page-tab {
    float: left;
    background-color: #6969ff;
    height: 20px;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-right: 20px;
}

.page-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#tab-bar {
    height: 20px;
    margin-bottom: 30px;
    background-color: gold;
}

#body-content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#status-outer {
    display: flex;
}

#checking-status {
    padding: 20px;
    background-color: gold;
}

#dhcp-interference {
    display: none;
    padding: 20px;
    background-color: red;
}

.dhcp-address-value {
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
}

.hidden-text {
    display: none;
}

.report-outer {
    display: flex;
}

.report-inner {
    font-size: 16px;
    display: none;
    background-color: gold;
    padding: 20px;
}

.report-value {
    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
    padding-left: 10px;
}

#connections {
    width: 90%;
    margin-left: 10%;
}

.connection-value-text-highlight {
    background-color: gold;
}

.connection-query-info {
    color: green;
    font-size: 12px;
}

.more-connections {
    font-size: 12px;
    color: gray;
}

.connection-count-link {
    cursor: pointer;
}

.additional-connection-time {
    color: green;
}

.additional-connection-value {
    color: black;
}

.connection-separator {
    height: 10px;
}

#page-links {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 10%;
}

.page-link-gap {
    padding-left: 30px;
}
